{% extends "layout.html.twig" %}

{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="assets/styles/auth.css">
{% endblock %}

{% block content %}
    <div class="container" id="{{ page }}"></div>
{% endblock %}

{% block footer %}
{% endblock %}