<% if (includeBootstrap) { %>$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";<% } %>

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #eee url(../images/loginBackgroundPattern.png);
}
